<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
    Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:nevow="http://nevow.com/ns/nevow/0.1">

  <head>
    <title>ACP245 Test Server</title>
    <link rel="stylesheet" type="text/css" href="/css/acpyd_static.css"/>
    <script type="text/javascript" src="js/acpyd_static.js"></script>
  </head>

  <body style='display:none;'>

    <div id="header">
      <h1>ACP245 Testing Console</h1>
    </div>

    <div id="content-container">

        <div id="content" nevow:render="content">
        </div>

    </div>

    <div id="footer">
      Built by <a href="http://www.edantech.com/">Edantech</a>
    </div>

  </body>

</html>
