<div
    xmlns:athena="http://divmod.org/ns/athena/0.7"
    xmlns:n="http://nevow.com/ns/nevow/0.1"
>
<script type='text/javascript'>//<!--
testdb_grid_init();
//--></script>
    <div class="testdb-grid-box" style='width: 100%;'>
        <table id="testdb-grid" summary="Tests" class="testdb-grid">
        </table>
    </div>
    <div id="testdb-pager" class="testdb-pager"></div>
    <div id="testdb-logs-grid-box" class="testdb-logs-grid-box" style="display: none;">
        <table id="testdb-logs-grid" summary="Test log" class="testdb-logs-grid">
        </table>
        <div id="testdb-logs-pager" class="testdb-logs-pager"></div>
    </div>
</div>
